$main-color: rgb(7, 121, 222);
$sub-color: rgba(2, 188, 255, 0.363);
$remove-color: rgba(230, 8, 8, 0.646);
$background-color: #ffffff;
$add-color: rgba(0, 255, 255, 0.336);
$cBlack: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: $background-color;
  display: grid;
  grid-template:
    "....." 25px
    "title"
    "....." 10px
    "input"
    "....." 25px
    "item ";
}

h1 {
  grid-area: title;
  font-size: 2rem;
  font-weight: 50;
  text-align: center;
  color: $main-color;
  font-family: "Roboto", sans-serif;
}

.styling {
  font-weight: 800;
  color: $cBlack;
}

.done {
  text-decoration: line-through;
}

.input_div {
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input_div .input {
  padding: 0.5rem 1rem;
  height: 50px;
  border: none;
  outline: none;
  background-color: $sub-color;
  width: 450px;
  font-size: 1.15rem;
  border-radius: 25px;
}

.addButton {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: $add-color;
  color: $cBlack;
  cursor: pointer;
}

.addButton:hover {
  opacity: 0.7;
}

.container {
  grid-area: item;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item {
  padding: 0.5rem;
  border-bottom: 4px solid $sub-color;
}

.item_input {
  background: none;
  outline: none;
  color: $cBlack;
  border: none;
  width: 350px;
  font-size: 1.4rem;
}

.doneButton {
  font-size: 1.4rem;
  margin: 1px 10px;
  font-family: "Roboto", sans-serif;
  background: none;
  outline: none;
  color: $cBlack;
  border: none;
  cursor: pointer;
}

.editButton {
  font-size: 1.4rem;
  margin: 1px 10px;
  font-family: "Roboto", sans-serif;
  background: none;
  outline: none;
  color: $cBlack;
  border: none;
  cursor: pointer;
}

.removeButton {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  background: none;
  outline: none;
  color: $remove-color;
  border: none;
  cursor: pointer;
}
